.footer {
  flex-grow: 1;
  width: 100%;
  padding: 15px;
  background: $dim_color;

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__contacts {
    display: flex;
    gap: 30px;

    &1:hover {
        color: $main_color
      }
    &2:hover {
        color: $main_color
      }
  }

  &__copyright {
    display: flex;
    gap: 30px;

    &2:hover {
      color: $main_color
    }
  }
}