.footer {
  flex-grow: 1;
  width: 100%;
  padding: 15px;
  background: $dim_color;
  /* margin: 0 15px; */
}

.footer-names {
  display: flex;
  gap: 30px;
}
.footer-copy {
  display: flex;
  gap: 30px;
}