.filter {
  flex: 0 1 25%;
  /* width: 30%; */
  background: $dim_color;
  border-bottom: 1px solid $white_color;
  color: $text_color;
  padding: 25px;
}
.filter-category {
  // display: block;
  max-width: 100%;
}

.filter-category-item-title {
  font-size: 22px;
  font-weight: normal;
  color: $dark_color;
  margin-bottom: 16px;
}

.filter-category-item-block {
  height: 150px;
  overflow-y: scroll;
  overflow-x:hidden;
}

.filter-category-item {
  font-size: 16px;
  margin-bottom: 16px;
}

/* стили для контейнера */
.filter-category-form {
  display: block;
  // padding-bottom: 6px;
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    color: $dark_color;
  }
}

/* скрываем дефолтный чекбокс */
.filter-category-form .filter-category-input {
  position: absolute;
  opacity: 0;
}

/* создаем кастомный чекбокс */
.filter-category-span {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: $white_color;
  // border: 1px solid $text_color;
  border: 1px solid $filter_color;
  border-radius: 4px;
}

/* При наведении указателя мыши перекрашиваем */
.filter-category-form:hover .filter-category-input ~ .filter-category-span {
  background-color: $filter_color;
}

/* Когда отмечен, то красим */
.filter-category-form .filter-category-input:checked ~ .filter-category-span {
  background-color: $text_color;
}
/* Создаем когда отмечено (не видно, когда не отмечено) */
.filter-category-span:after {
  content: "";
  position: absolute;
  display: none;
}
/* Показываем когда отмечен */
.filter-category-form
  .filter-category-input:checked
  ~ .filter-category-span:after {
  display: block;
}

/* Стили индикатора */
.filter-category-form .filter-category-span:after {
  left: 4px;
  top: -1px;
  width: 8px;
  height: 10px;
  border: solid $white_color;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.filter-category-more {
  &-text {
    cursor: pointer;
    font-size: 14px;
    color: $additional_color;
  
    &:hover {
      color: $main_color;
    }
  }

}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 5px;
  border: 1px solid $filter_color;
  border-radius: 4px;
  background: $white_color;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: $main_color;
  border-radius: 4px;
  
}

::-webkit-scrollbar-thumb:hover {
  background-color: $hover_color;
}

.filter-reset-btn{
  margin-top: 30px;
  background: $main_color;
  border-radius: 10px;
  display: block;
  padding: 15px 0px;
  width: 100%;
  color: $white_color;
  font-size: 18px
}