$main_color: rgb(102, 204, 51);
$text_color: rgb(93, 93, 100);
$additional_color: rgb(128, 129, 150);
$dim_color: rgb(245, 245, 246);
$white_color: rgb(255, 255, 255);
$filter_color: rgb(204, 204, 204);
$dark_color:rgb(0, 0, 0);

@import '~normalize.css';
@import './components/header/header.scss';
@import "./components/footer/footer.scss";
@import "./components/main_page/main_page.scss";

#root {
  max-width: 1440px;
  margin: 0px auto 0;
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 26px;
  color: $text_color;
}

.wrapper {
  width: 100%;
  /* margin: 0 15px; */
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 30px; */
}