body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

a{
  text-decoration: none;
  color: inherit;
  font: inherit;
}

a:active,
a:hover {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 2em;
  margin: 0;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

button,
select {
text-transform: none;
border: none;
}

input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  margin: 0;
  padding: 0;
}

li{
  list-style-type:none
}
.nav__list-item, html {
  transition: all 0.3s ease;
}

html {
  margin: 0 auto;
  max-width: 100%;
  scroll-behavior: smooth;
}